.fa-eye-slash {
  color: grey;
  position: absolute;
  left: 250px;
}

.wd-course-top-nav {
  background-color: black;
  color: white;
}

.wd-course-top-nav i {
  color: white;
}

.wd-collapse-navigation {
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 500px;
}

.collapse_navigation a {
  color: red;
}

.collapse_navigation li {
  padding-block: 10px;
}

.collapse_navigation .wd-collapse-navigation {
  padding-top: 30px;
}

.fa-chevron-down {
  position: absolute;
  left: 90%;
}

.fa-xmark {
  position: absolute;
  left: 90%;
  color: grey;
}

.collapse-horizontal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 500px;
}

#collapse_course_navigation .wd-navigation {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 500px;
}

#collapse_course_navigation .wd-navigation {
  margin-left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 500px;
}

#collapse_course_navigation .fa {
  color: red;
}

#collapse_course_navigation .fa-eye-slash {
  color: grey;
}

#collapse_course_navigation .fa-xmark {
  z-index: 3;
  color: black;
}

.wd-text-center {
  position: absolute;
  left: 45%;
  padding-top: 8px;
}

.wd-course-nav {
  width: 200px;
}

.wd-course-status .d-flex {
  margin-bottom: 20px;
}

.wd-course-status .d-flex i {
  margin-right: 5px;
}

.wd-course-status .btn {
  margin-block: 2px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 3px;
}

.d-block>.d-flex>.btn-red {
  background-color: red;
  color: white;
}

.wd-cross {
  position: relative;
  left: 234px;
  top: -41px;
}

.d-flex>.btn {
  margin: 2px 2px 2px 2px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 3px;
  padding-inline: 5px;
}

.wd-course-status .d-flex .wd-public-btn {
  background-color: #9ec199;
  color: white;
}

.wd-course-status .wd-todo .fa-1 {
  color: white;
}

.wd-course-status .wd-todo .fa-circle {
  color: red;
}

.wd-todo .fa-stack {
  margin-top: 0;
}

.wd-todo-red-text {
  margin-top: 4px;
}

.wd-todo-grey {
  font-size: 10px;
  color: grey;
  position: relative;
  left: 40px;
}

.wd-red {
  color: red;
}

.wd-todo .fa-xmark {
  position: relative;
  top: -53px;
}

.wd-coming-up-red {
  color: red;
  position: relative;
  left: 22px;
}

.wd-coming-up-lat-line {
  color: red;
  font-size: 10px;
}

.wd-margin {
  margin-block: 13px;
}